<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="__URL__/insert">
        mac
        <input type="text" name="mac">
        <br/>
        position
        <input type="text" name="position">
        <br/>
        line_id
        <input type="text" name="line_id">
        <br/>
        time
        <input type="text" name="time">
        <br/>
        station_id
        <input type="text" name="station_id">
        <br/>
        no
        <input type="text" name="no">
        <br/>
        <input type="submit" value="点我">
    </form>
</body>
</html>